<!DOCTYPE html>
<html>
<head>
  <title>RideologyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<% if flash[:errors] && !flash[:errors].empty? %>
	<div class="alert alert-danger">
		<p><%= flash[:errors].join(', ') %></p>
	</div>
<% end %>

<div class="bberrors"></div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-con">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/#/">Rideology - A Zimride clone for carpooling</a>
  </div>
      
  <div class="collapse navbar-collapse" id="nav-con">
    <ul class="nav navbar-nav">
      <li id="user-link" class="n-link"><a href="/#/user">My Rides</a></li>
      <li id="index-link" class="n-link"><a href="/#/index">Ride Index</a></li>
      <li id="post-link" class="n-link"><a href="/#/post">Post a Ride</a></li>
      <li id="search-link" class="n-link"><a href="/#/search">Search</a></li>
      <li><img style="z-index: 1050; padding-top: 10px" id="draggable" class="pop" src="assets/glyphicons_005_car.png"></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if !!current_user %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Settings</a></li>
              <li><a href="#">Help</a></li>
              <li class="divider"></li>
              <li>
                <form action="<%= session_url %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="submit" class="btn btn-default navbar-btn" value="Sign Out">
                </form>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="user[username]" value="guest">
            <input type="hidden" name="user[password]" value="password">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" class="btn btn-default navbar-btn" value="Login as Guest">
          </form>
        </li>
        <li><a href="/session/new">Sign in</a></li>
        <li><a href="/users/new">Create Accout</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<body style="padding-top: 150px">
<%= yield %>

</body>
</html>
