<!DOCTYPE html>
<html>
<head>
  <title>RideologyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:errors] && !flash[:errors].empty? %>
	<div class="alert alert-danger">
		<p><%= flash[:errors].join(', ') %></p>
	</div>
<% end %>

<% if !!current_user %>
	<%= button_to("Logout", session_url, :method => :delete) %>
<% end %>

<%= yield %>

</body>
</html>
